*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-primary: #ffd4d8;
    --color-bg-second: #fff;
    --color-text-primary: #444;
    --color-text-second: #fff;
    --color-text-third: #6b6b6b;
    --color-accent-1: #ffa4ac;
    --color-accent-2: #ff858f;
    --color-accent-3: #a6f;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg%20id%3D'stripes-svg'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'100%25'%20height%3D'100%25'%3E%3Cdefs%3E%3Cpattern%20id%3D'svg-stripes-pattern-3806'%20patternTransform%3D'rotate(90)'%20width%3D'100%25'%20height%3D'35'%20x%3D'0'%20y%3D'0'%20patternUnits%3D'userSpaceOnUse'%3E%3Cg%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'100%25'%20height%3D'28'%20fill%3D'rgba(255%2C%20164%2C%20172%2C%201)'%3E%3C%2Frect%3E%3Crect%20x%3D'0'%20y%3D'28'%20width%3D'100%25'%20height%3D'7'%20fill%3D'rgba(255%2C%20255%2C%20255%2C%201)'%3E%3C%2Frect%3E%3C%2Fg%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23svg-stripes-pattern-3806)'%3E%3C%2Frect%3E%3C%2Fsvg%3E");
    color: var(--color-text-primary);
}

header, footer {
    background-color: var(--color-accent-2);
    color: var(--color-text-second);
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    border-bottom: 3px solid var(--color-bg-second);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
    gap: 1rem;
    padding: 5px;
}

#header-img {
    width: 70px;
    margin-left: 5px;
}

#header-logo {
    justify-self: start;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
}

#header-name-div {
    background-color: var(--color-bg-second);
    border-radius: 35%;
    height: 5rem;
    display: flex;
    align-items: center;
}

#header-name {
    color: var(--color-text-third);
    font-size: 3.5vw;
    text-align: center;
}

header > nav {
    justify-self: end;
    margin-right: 5vw;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* color: var(--color-text-third); */
    
}

header a {
    color: var(--color-text-third);
    text-decoration: none;
    font-size: 1.3em;
}

.nav-link {
    background-color: var(--color-bg-second);
    border-radius: 5px;
    padding: 3px;
    font-size: 2vi;
}

.nav-link:hover {
    background-color: var(--color-bg-primary);
}

main {
    margin-top: 2rem;
}

#sign {
    max-width: max(40vw, 300px);
    display: block;
    margin: auto;
}

section {
    background-color: var(--color-bg-primary);
    margin: 2rem auto;
    padding: 1rem;
    max-width: min(800px, 90vw);
    border: 4px dotted var(--color-bg-second);
    border-radius: 10px;
    
}

.heading-spacer {
    height: 3.5vw; /*based on header text size*/
}

.section-heading {
    font-size: 2.5em;
    margin: auto;
    text-align: center;
}

article {
    margin: 2rem auto;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-img {
    max-width: 50%;
}

.photo {
    width: 100%;
    /* display: inline; */
    border: 1px solid var(--color-bg-second);
    border-radius: 10px;
}

.menu-desc {
    padding: 2rem;
}

.menu-desc > h3 {
    font-size: 1.3em;
    margin: 0.8rem auto 0;
    /* font-weight: bold;     */
}

p {
    margin: 1rem auto;
}

article p {
    font-size: 1.1em;
    margin-top: 0.4rem;
}

hr {
    color: var(--color-bg-second);
    width: 66%;
    margin: auto;
    border-style: solid;
}

form {
    margin: 1rem auto;
    max-width: 30rem;
}

fieldset {
    border: 1px solid var(--color-text-second);
    margin: 1rem auto;
    padding: 0 0.7rem 0.7rem;
}

fieldset p {
    margin: 1rem auto 0;
}

#flavors {
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    width: 100%;
}

input[type="submit"] {
    background-color: var(--color-bg-second);
    color: var(--color-text-first);
    border: 2px solid var(--color-accent-2);
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    padding: 0.2rem;
    width: 50%;
    display: block;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: var(--color-accent-2);
    color: var(--color-text-second);
}

#footer-logo {
    display: block;
    margin: auto;
}

footer {
    margin: auto;
    text-align: center;
}

footer p {
    margin: 1rem auto 0;
    color: var(--color-text-primary)
}

footer a {
    color: var(--color-text-first);
}

@media (max-width: 600px) {
    section {
        max-width: 95vw;
    }

    article {
        flex-direction: column;
    } 

    .menu-img {
        max-width: 100%;
    }
}